<div id="boody" class="body">
    <div class="container">
        <div class="card">
            <div class="card-body">
            <div class="form-group">
                <label for="">Student Name :<span>{{errors}} </span></label>
                <input class="form-control"
                type="text" [(ngModel)]="object.name" #studentName="ngModel" required  placeholder="Student Name">

            </div>

            <div class="form-group">
                <label for="">Student level :<span>{{errors}} </span></label>
                <input class="form-control"
                type="text" [(ngModel)]="object.level"  #studentLevel="ngModel" requird  placeholder="Student level">
            </div>

            <div class="form-group">
                <label for="">Student age :<span>{{errors}} </span></label>
                <input class="form-control"
                type="text" [(ngModel)]="object.age"  #studentage="ngModel" requird  placeholder="Student level">
            </div>
            <div >

                <button (click)="save(studentName,studentLevel,studentage)" class="btn btn-info">Send Data</button>

            </div>
            </div>
        </div>
    </div>

</div>
